CONFIG_D=/etc/dehydrated/conf.d
BASEDIR=/var/lib/dehydrated
WELLKNOWN="/var/www/letsencrypt/.well-known/acme-challenge/"
DOMAINS_TXT="/etc/dehydrated/domains.txt"
CONTACT_EMAIL="{{ email_for_letsencrypt }}"